*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Operating System Files

*.DS_Store
Thumbs.db

# Build Files #
bin/
target/
build/
.gradle/

# IntelliJ IDEA Files #

*.idea/
*.iml
*.ipr
*.iws

# Eclipse Project Files #

.classpath
.project
.settings

